
.page {
    background-color: #f2f2f2;
}
.avatar {
    background-color: #3C5999;
    color: white;
    border-color: #3C5999;
}
.background-avatar {
    background-image: url("../img/p1.jfif");
    background-repeat: repeat-x;
}
.font-size {
    font-size: 14px;
}
.font-size-sm {
    font-size: 10px;
}
.text-color {
    color: #3C5999;
}
.likes{
    width:15px;
    height:15px;
}

.followed{
  color: white;
  background-color: tomato;
  border-color: tomato;
  border-width: 2px;
}
.follow {
  color:  tomato;
  background-color: white;
  border-color: tomato;
  border-width: 2px;
}
.uploader-hold {
    width: 200px;
    height: 200px;

}
.upload-photo {
    width: 200px;
    height: 200px;
    border: 3px dashed grey;
}
.edit-header{
    opacity: 0.7;
    width: 90%;
}
.overflow {
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}
.img-holder{
    height: 300px;
    width: 300px;
}